.navbar{
    background-color: black;
}
.nav-brand{
    display: inline-block;
    color: aliceblue;
    margin-right: 20px;
}

.nav-menu{
    color: aliceblue;
    margin: 0px 10px;
    display: inline-block;
}
